<audio id="audio1" src="https://vocaroo.com/media_command.php?media=s1oM0MEzTW9l&command=download_mp3" autoplay></audio>
<script src="..\..\js\util.js"></script>
<script>
	let audio1 = document.getElementById("audio1");
	playAll(audio1);
</script>
<div id="classicalImage" class="container">
  <h1 class="jumbotron">Classical Music</h1>

    <div>
    <p class="roundedBox">Classical music refers to music created during the period of time between
    1750 - 1830. The main instrument of this era was the piano as it can produce
    sounds with varying levels of volume. Classical music emphasized order and
    contains clear divisions between sections of music.</p>

    <div class=" center roundedBox">
    <h3>Famous Composers:</h3>
    <ul>
      <li>Ludwig van Beethoven</li>
      <li>Johann Sebastian Bach</li>
      <li>Wolfgang Amadeus Mozart</li>
      <li>Johannes Brahms</li>
      <li>Richard Wagner</li>
      <li>Claude Debussy</li>
      <li>Pyotr Ilyich Tchaikovsky</li>
      <li>Joseph Haydn</li>
      <li>Antonio Vivaldi</li>
    </ul>

    <ul style="align="left">
      <strong>Key instruments used:</strong>
      <li>Contrabasson</li>
      <li>Bass clarinet</li>
      <li>Piccolo</li>
      <li>Xylophone</li>
      <li>Drums</li>
      <li>Celestes</li>
      <li>Harps</li>
      <li>Bells</li>
      <li>Triangles</li>
    </ul>
    </div>
  </div>
  <a class="btn btn-primary pull-left" href="#/baroque">Previous</a>
  <a class="btn btn-primary pull-right" href="#/romantic">Next</a>
</div>
