<div id="homeImage" class="container text-center" style="background-color: black;">
    <h1 class="jumbotron">The History of Music</h1>

    <div style="margin-bottom: 20" class="container center">
      <a href="#/early" class="btn btn-default">The Beginning</a>
      <br></br>
      <a href="#/renaissance" class="btn btn-default">The Renaissance</a>
      <br></br>
      <a class="btn btn-default" href="#/baroque">Baroque</a>
      <br></br>
      <a class="btn btn-default" href="#/classical">Classical</a>
      <br></br>
      <a class="btn btn-default" href="#/romantic">Romantic</a>
      <br></br>
      <a class="btn btn-default" href="#/twenty">20th Century</a>
      <br></br>
      <a class="btn btn-default" href="#/twentyFirst">21st Century</a>
    </div>
</div>
