<div id="homeImage" class="login-box container text-center" style="background-color: black;">
    <h1 class="jumbotron">The History of Music</h1>

    <div class="container center">
      <a href="#/early">The Beginning</a>
      <br></br>
      <a href="#/renaissance">The Renaissance</a>
      <br></br>
      <a href="#/baroque">Baroque</a>
      <br></br>
      <a href="#/classical">Classical</a>
      <br></br>
      <a href="#/romantic">Romantic</a>
      <br></br>
      <a href="#/twenty">20th Century</a>
      <br></br>
      <a href="#/twentyFirst">21st Century</a>
    </div>
</div>
