<audio id="audio1" src="..\..\sounds\Romantic\romantic1.mp3" autoplay></audio>
<audio id="audio2" src="..\..\sounds\Romantic\romantic2.mp3" autoplay></audio>
<audio id="audio3" src="..\..\sounds\Romantic\romantic3.mp3" autoplay></audio>
<audio id="audio4" src="..\..\sounds\Romantic\romantic4.mp3" autoplay></audio>
<audio id="audio5" src="..\..\sounds\Romantic\romantic5.mp3" autoplay></audio>
<audio id="audio6" src="..\..\sounds\Romantic\romantic6.mp3" autoplay></audio>

<div id="romanticImage" class="container" style="background-color: white;">
    <h1 class="jumbotron">Romantic Period(1780-1910)</h1>

    <div style="margin-bottom: 20;" class="container center roundedBox">
      Romantic music is a period of Western classical music that began in the late 18th or early 19th century. It is related to Romanticism, the Western artistic and literary movement that arose in the second half of the 18th century, and Romantic music in particular dominated the Romantic movement in Germany.
    </div>




  <div class="center roundedBox" >
    <ul style="align="left">
      <strong>Key instruments used:</strong>
      <li>Contrabasson</li>
      <li>Bass clarinet</li>
      <li>Piccolo</li>
      <li>Xylophone</li>
      <li>Drums</li>
      <li>Celestes</li>
      <li>Harps</li>
      <li>Bells</li>
      <li>Triangles</li>
    </ul>

    <ul style="align="left">
      <strong>Characteristics often attributed to Romanticism:</strong>
      <li>a new preoccupation with and surrender to Nature;</li>
      <li>a fascination with the past, particularly the Middle Ages and legends of medieval chivalry;</li>
      <li>a turn towards the mystic and supernatural, both religious and merely spooky;</li>
      <li>a longing for the infinite;</li>
      <li>mysterious connotations of remoteness, the unusual and fabulous, the strange and surprising;</li>
      <li>a focus on the nocturnal, the ghostly, the frightful, and terrifying;</li>
      <li>fantastic seeing and spiritual experiences;</li>
      <li>a new attention given to national identity;</li>
      <li>emphasis on extreme subjectivism;</li>
      <li>interest in the autobiographical;</li>
      <li>discontent with musical formulas and conventions.</li>
    </ul>
  <div>

</div>
<script src="..\..\js\util.js"></script>
<script>
	let audio1 = document.getElementById("audio1");
	let audio2 = document.getElementById("audio2");
	let audio3 = document.getElementById("audio3");
	let audio4 = document.getElementById("audio4");
  let audio5 = document.getElementById("audio5");
  let audio6 = document.getElementById("audio6");
	playAll(audio1, audio2, audio3, audio4, audio5, audio6);
</script>
