<div id="beginImage" class="container" ">
    <h1 class="jumbotron">The Beginning</h1>

    <div class="roundedBox center">
      <p>The first fully acknowledged era in classical music was the Renaissance period,
        beginning in around 1400. There was, however, all sorts of music before that,
        much of it laying the foundations for the composers who were to come – and this
        all sits under the umbrella of what we refer to today as the Early period.</p>
    </div>

    <div class="roundedBox center">
      <h3>Key Characteristics:</h3>
      <p>In the early music period or the beginning we see a lot of instruments made out of
      wood and some strings. They would make flutes/recorders with wood or bones.</p>
        <ul>
          <li>Bone instruments</li>
          <li>String instruments</li>
          <li>Every sound created with an instrument was considered music</li>
        </ul>
    </div>
</div>
