<div id="twentyFirst" class="container" style="background-color: white;">
    <h1 class="jumbotron">21st Century(2000-Present)</h1>

    <div style="margin-bottom: 20;" class="container center roundedBox">
      Now it's your turn to make music history
    </div>

  <div id="piano">
  <section id="wrap">
    <header>
      <h2 class="roundedBox">Make some music [Hover for hints]</h2>
    </header>
    <section id="main">
      <div class="nowplaying"></div>
      <div class="keys">
        <div data-key="65" class="key" data-note="C">
            <span class="hints">A</span>
        </div>
        <div data-key="87" class="key sharp" data-note="C#">
            <span class="hints">W</span>
        </div>
        <div data-key="83" class="key" data-note="D">
            <span class="hints">S</span>
        </div>
        <div data-key="69" class="key sharp" data-note="D#">
            <span class="hints">E</span>
        </div>
        <div data-key="68" class="key" data-note="E">
            <span class="hints">D</span>
        </div>
        <div data-key="70" class="key" data-note="F">
            <span class="hints">F</span>
        </div>
        <div data-key="84" class="key sharp" data-note="F#">
            <span class="hints">T</span>
        </div>
        <div data-key="71" class="key" data-note="G">
            <span class="hints">G</span>
        </div>
        <div data-key="89" class="key sharp" data-note="G#">
            <span class="hints">Y</span>
        </div>
        <div data-key="72" class="key" data-note="A">
            <span class="hints">H</span>
        </div>
        <div data-key="85" class="key sharp" data-note="A#">
            <span class="hints">U</span>
        </div>
        <div data-key="74" class="key" data-note="B">
            <span class="hints">J</span>
        </div>
        <div data-key="75" class="key" data-note="C">
            <span class="hints">K</span>
        </div>
        <div data-key="79" class="key sharp" data-note="C#">
            <span class="hints">O</span>
        </div>
        <div data-key="76" class="key" data-note="D">
            <span class="hints">L</span>
        </div>
        <div data-key="80" class="key sharp" data-note="D#">
            <span class="hints">P</span>
        </div>
        <div data-key="186" class="key" data-note="E">
            <span class="hints">;</span>
        </div>
      </div>

      <audio data-key="65" src="https://vocaroo.com/media_command.php?media=s1A7spAVOup6&command=download_mp3"></audio>
      <audio data-key="87" src="https://vocaroo.com/media_command.php?media=s1aZ6SXh6nMn&command=download_mp3"></audio>
      <audio data-key="83" src="https://vocaroo.com/media_command.php?media=s1apIQcSw0Kj&command=download_mp3"></audio>
      <audio data-key="69" src="https://vocaroo.com/media_command.php?media=s1SGei4WihuE&command=download_mp3"></audio>
      <audio data-key="68" src="https://vocaroo.com/media_command.php?media=s13lBQ8nHqEF&command=download_mp3"></audio>
      <audio data-key="70" src="https://vocaroo.com/media_command.php?media=s1veOGNT7AyX&command=download_mp3"></audio>
      <audio data-key="84" src="https://vocaroo.com/media_command.php?media=s15Uc8oCrQYh&command=download_mp3"></audio>
      <audio data-key="71" src="https://vocaroo.com/media_command.php?media=s1Xdm4T12EqH&command=download_mp3"></audio>
      <audio data-key="89" src="https://vocaroo.com/media_command.php?media=s1UH6f91iI0o&command=download_mp3"></audio>
      <audio data-key="72" src="https://vocaroo.com/media_command.php?media=s1blu2zYi23Q&command=download_mp3"></audio>
      <audio data-key="85" src="https://vocaroo.com/media_command.php?media=s16pja6nDDmv&command=download_mp3"></audio>
      <audio data-key="74" src="https://vocaroo.com/media_command.php?media=s1nh9CmMTOHl&command=download_mp3"></audio>
      <audio data-key="75" src="https://vocaroo.com/media_command.php?media=s1A1oCzlzOzL&command=download_mp3"></audio>
      <audio data-key="79" src="https://vocaroo.com/media_command.php?media=s14DPzYvu2tF&command=download_mp3"></audio>
      <audio data-key="76" src="https://vocaroo.com/media_command.php?media=s1YQDEMyjgIw&command=download_mp3"></audio>
      <audio data-key="80" src="https://vocaroo.com/media_command.php?media=s1mGm1OxR2k0&command=download_mp3"></audio>
      <audio data-key="186" src="http://carolinegabriel.com/demo/js-keyboard/sounds/056.wav"></audio>
      </section>
  </section>
  <video playsinline autoplay muted loop id="bgvid" poster="http://carolinegabriel.com/demo/js-keyboard/video/bg.jpg">
      <source src="http://carolinegabriel.com/demo/js-keyboard/video/bg.mp4" type="video/mp4">
  </video>
  </div>

  <a class="btn btn-primary pull-left" href="#/twenty">Previous</a>
  <a class="btn btn-primary pull-right" href="#/home">Home</a>
</div>
