<audio id="audio1" src="https://vocaroo.com/media_command.php?media=s1b8I7qxT4Zk&command=download_mp3" autoplay></audio>
<script src="..\..\js\util.js"></script>
<script>
	let audio1 = document.getElementById("audio1");
	playAll(audio1);
</script>
<div id="twentyImage" class="container" ">
    <h1 class="jumbotron">The 20th Century</h1>

    <div class="roundedBox" style="align="left">
      <p>During the 20th century there was a huge increase in the variety of music that people had access to.
        Prior to the invention of mass market gramophone records and radio broadcasting,
        people mainly listened to music at live Classical music concerts or musical theatre shows, which were
        too expensive for many lower-income people; on early phonograph players; or by individuals performing music or singing songs
        on an amateur basis at home, using sheet music, which required the ability to sing, play, and read music.
        These were skills that tended to be limited to middle-class and upper-class individuals. With the mass-market
        availability of gramophone records and radio broadcasts, listeners could purchase recordings of, or listen on
        radio to recordings or live broadcasts of a huge variety of songs and musical pieces from around the globe.
        This enabled a much wider range of the population to listen to performances of Classical music symphonies and
        operas that they would not be able to hear live, either due to not being able to afford live-concert tickets or
        because such music was not performed in their region.</p>
    </div>
    <div class="roundedBox" style="align="left">
      <h3>Styles of music</h3>
      <ul>
        <li>Rap</li>
        <li>Hip-Hop</li>
        <li>Rock and Roll</li>
        <li>Jazz</li>
        <li>Blues</li>
        <li>Country</li>
        <li>Disco</li>
        <li>Polka</li>
      </ul>
    </div>
    <div class="roundedBox" style="align="left">
      <h3>Key Characteristics:</h3>
        <ul>
          <li>Emphasis on individuality and originality, resulting in a wide diversity of styles</li>
          <li>Increased complexity</li>
          <li>Increased use of dissonance</li>
          <li>Atonality</li>
          <li>Unequal divisions of the beat</li>
          <li>New methods of playing instruments, and use of electronic instrument</li>
        </ul>
    </div>
    <a class="btn btn-primary pull-left" href="#/romantic">Previous</a>
    <a class="btn btn-primary pull-right" href="#/twentyFirst">Next</a>
</div>
